/* OM: TODO! Move whatever inline and in view css in this file */

* {
    margin: 0;
    padding: 0;
}

html {
    height: fit-content;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    padding-top: 0%;
    margin: 0;
    height: fit-content;
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Custom from here on out */

/* For nav icons start */

.nav li {
    border-radius: 10px;
}

.nav li a {
    border-radius: 10px;
}

.nav li a:hover {
    opacity: 0.8;
}

.Cart {
    color: inherit;
    background-color: inherit;
    border: hidden;
    border-radius: 10px;
}


.Cart:focus {
    outline: none;
}

.Cart .nav-link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.searchbar{
    margin-top:21px;
    width:250px;
    border-radius:9px;
}

.modal-content {
    background-color: gainsboro;
}


@media only screen and (max-width: 976px) {
    .nav-search {
        display: none;
    }
}

/* Fix Navbar icons for big screens */

@media only screen and (min-width: 992px) {
    .nav li a {
        height: 60px;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-brand {
        height: 90px;
        display: table-cell;
        vertical-align: middle;
        transform:translateY(-220px;)
    }
}

/* Fix Navbar icons for smaller screens */

@media only screen and (max-width: 991px) {
    .nav li {
        height: 60px;
        text-align: center;
        line-height: 40px;
    }

    .nav li .Cart {
        width: 100%;
    }

    .nav li:nth-child(1) {
        margin-top: 5px;
    }

    .searchbar, .searchbar-li{
        display:none;
    }
}

/* For nav icons end */

/* For Manage/Orders start */

.hidden {
    display: none;
}

.order-details td {
    vertical-align: baseline;
}

/* For Manage/Orders end */

/*----------------------------------PAVLOS CSS---------------------------*/

.modal-body table thead tbody th td tr {
    display: block;
}

.animatedSuccess {
    background-image: url(https://icons-for-free.com/iconfiles/png/512/complete+done+green+success+valid+icon-1320183462969251652.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 290px;
    margin-top: 70px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatedError {
    background-image: url(https://freeiconshop.com/wp-content/uploads/edd/error-flat.png);
    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 290px;
    margin-top: 70px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (max-width:767px) {
    #animated-example {
        width: 100%;
        margin-top: -50%;
        background-position: center;
    }

    .ratingResult {
        text-align: center;
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

/*--------------------------STAR GIFS REVIEW----------------------------------------*/

.starOff {
    background-image: url("../Images/StarFade.gif");
    width: 30px;
    height: 30px;
    display: inline-block;
}

.starOn {
    background-image: url("../Images/StarGlow.gif");
    width: 30px;
    height: 30px;
    display: inline-block;
}

@media only screen and (max-width:991px) {
    .starOff, .starOn {
        background-size: contain;
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width:767px) {
    .starOff, .starOn {
        height: 30px;
        width: 30px;
    }
}

/*---------------------------------------------------------------------------*/

.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 172px;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    height: 420px;
    height: 420px !important;
    background-color: white;
}


.product-review {
    top: 20px;
    position: relative;
}

#product {
    position: relative;
    top: 30px;
}


.product-grid .product-image {
    position: relative;
    top: 30px;
    transition: all .3s ease 0s;
}

.product-grid .product-image a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
}

.product-grid .product-image img {
    width: 75%;
    position: center;
    max-height: 230px;
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s;
}

.product-grid:hover .pic-1 {
    opacity: 0.5;
}


.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover .social {
    opacity: 1;
    top: 50%
}

.product-grid .social li {
    display: inline-block
}

.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777;
}

.product-grid .social li a:after, .product-grid .social li a:before {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
     opacity: 1
}

.product-grid .product-discount-label, .product-grid .product-new-label {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}

.product-grid .product-discount-label {
    background-color: #333;
    left: auto;
    right: 0
}

.product-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1;
    text-align: center;
}

.product-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.product-grid .product-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 1;
    transition: all .3s;
}

.product-grid:hover .product-content {
    bottom: 0
}

.product-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #828282
}

.product-grid .title a:hover, .product-grid:hover .title a {
    color: #ef5777
}

.product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.product-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block
}

.product-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal {
    top: 20%;
}

/*----------------------------------------------------*/

@media only screen and (max-width:576px) {
    .product-grid .product-image a {
        max-width: 300px;
        max-height:300px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .product-grid {
        height: 450px;
    }
}

/*----------------------------------------------------*/

#myTable, #myTable thead, #myTable tbody, #myTable th, #myTable td, #myTable tr {
    display: block;
}

#myTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#myTable tr {
    border: 1px solid #ccc;
}

#myTable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
}

#myTable td:before {
     position: absolute;
     top: 6px;
     left: 6px;
     width: 45%;
     padding-right: 10px;
     white-space: nowrap;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/*----------------------------------------------- Carousel --------------------------------------------------*/

.carousel img {
    height: 450px;
    background-size: cover;
}

.carousel {
    margin: 50px auto;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    .carousel img {
        height: 250px;
    }
}

/*----------------------------------------- Sorting Text ---------------------------------------------------*/

.hyperlink {
    color: blue;
}

/*--------------------------------------------Footer to bottom-----------------------------------------------*/


.container {
    min-height: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    .tablescroll {
        overflow-x: scroll;
    }

    .row, .SearchBox {
        text-align: center;
    }
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.product-img {
    float: right;
    position: relative;
    top: 17px;
    border: outset;
    border-radius: 15px;
}

.banners img {
    width: 100px;
    height: auto;
    display: inline block;
    margin-bottom: 5%;
    border-radius: 10px;
    align-content: center;
    margin-right: 5px;
}

.banners img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.banners img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    20% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    40% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    60% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    80% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    100% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

}

/*-------------------------------------start page----------------------------------------*/
