
@{ 
    ViewBag.Title = "Payment Failed";
}

<h3>@ViewBag.Title</h3>

<h4>Please try again and if the problem persists contact support.</h4>

<div>
    @Html.ActionLink("Back to Cart", "Index", "ShoppingCart")
</div>