
@{
    ViewBag.Title = "EmailSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email Sent Sucesfully</h2>
<p>Confirm your email to use our services!</p>
<p>We'll redirect you back to the page in just a second</p>

@Html.Hidden("RedirectTo", Url.Action("Index", "Home"))

<script>
    const delay = ms => new Promise(res => setTimeout(res, ms));

    const WaitAndRedirect = async () => {
        await delay(6000);
        var urlOfProductToReturnTo = document.getElementById("RedirectTo").value;
        location.href = urlOfProductToReturnTo;
    };

    var productIdToReturnTo = @Html.Raw(Json.Encode(Model));
    if (productIdToReturnTo != null) {
        WaitAndRedirect();
    }
</script>