
<table class="table">
    <tr>
        <th>Category</th>
        <th>Manufacturer</th>
        <th>Product Name</th>
        <th>Price</th>
    </tr>
</table>

@section ApiProducts{

    <script type="text/javascript">

        $(document).ready(function () {
            var product = '';
            $.getJSON("/api/productsapi", result => {
                $.each(result, (key, value) => {
                    console.log(value);
                    product = $('<tr>');
                    product.append('<td>' + value.Category + '</td>')
                    product.append('<td>' + value.Manufacturer + '</td>')
                    product.append('<td> ' + value.Name + '</td>');
                    product.append('<td>' + value.Price + '€</td>');
                    $('.table').append(product);
                })
            });
        })
    </script>
}
