@model GroupProject.ViewModel.QueryParamArgs
@{
    ViewBag.Title = "Browse Products";
}

<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Products</h1>
        <hr />
    </div>

<div id="dataModel"></div>

</main>

@section SignalR{

    <script src="~/Scripts/jQuery/jquery-2.2.4.js"></script>
    <script src="~/Scripts/jQuery/jquery-2.2.4.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">

        $(function () {
            var hubNotify = $.connection.updateProductsHub;

            $.connection.hub.start().done(function () {
                getAll();
            });

            hubNotify.client.refreshCartData = function () {
                getAll();
            };
        });

        function getAll() {
            var data = @Html.Raw(Json.Encode(Model));
            var model = $('#dataModel');
            $.ajax({
                url: '/Products/GetProductData?SortOrder=' + data.sortOrder +
                    '&CurrentFilter=' + data.currentFilter +
                    '&SearchString=' + data.searchString +
                    '&SelectedCategory=' + data.selectedCategory +
                    '&SelectedManufacturer=' + data.selectedManufacturer +
                    '&Page=' + data.page,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    console.log(data)
                    model.empty().append(result);
                }
            });
        }
    </script>
}  