@{
    ViewBag.Title = "Ebuy";
}

<div class="jumbotron">
    <p class="lead">
        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
        {
        <p>
            Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
        }
    </p>
</div>