@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Admin Panel</b>
        </h3>
    </div>
</div>

<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("IndexRole", "Admin")'">
    Role Manage
</button>
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("UserList", "Admin")'">
    List Of Users
</button>
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("RatingsList", "Admin")'">
    Ratings
</button>




