@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles";
}

<h3><i>Role Index and Creation</i></h3>

<table class="table table-bordered">
    <thead style="background-color: #eeeeee">
        <tr>
            <td>
                <h4>
                    <i>Existing User Roles:</i>
                </h4>
            </td>
            <td><h4><i>Delete Role</i></h4></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: #eeeeee">
                <td>
                    @item.Name
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Create", "Role", FormMethod.Get))
{
    <button class="btn btn-warning" type="submit">Create new role</button>
}
